@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Josefin Sans", sans-serif;
$fontThree: "Poppins", sans-serif;
$fontFour: "Great Vibes", cursive;

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
// navbar
.navbar {
  height: 12vh;
  background-color: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  border: solid rgba(109, 108, 108, 0.541) 1px;
  border-left: none;
  border-top: none;
  border-right: none;
  z-index: 5;
  transition: all 500ms ease-in-out;

  .nav-Wrap {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .nav-Left {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .nav-Left-Wrap {
        width: 200px;
        height: 100px;

        .nav-Left-Text-Icon-Wrap {
          height: 100%;
          width: 100%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          color: white;

          #nav-Icon {
            color: white;
            font-size: 3rem;
          }
        }

        .nav-Left-Text-Wrap {
          padding: 0;
          margin: 0;

          .nav-Left-Text-1,
          .nav-Left-Text-2 {
            padding: 0;
            margin: 0;
            font-family: $fontThree;
            font-weight: 500;
          }
        }
      }
    }

    .nav-Right {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .nav-Right-Wrap {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        .nav-Right-Links {
          ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              align-items: center;
              padding: 1rem;

              a {
                font-family: $fontThree;
                text-decoration: none;
                color: white;
                font-weight: 500;
                transition: all 250ms ease-in-out;

                #nav-Icon {
                  font-size: 1.5rem;
                }

                &:hover {
                  color: rgb(143, 123, 9);
                }
              }

              .active {
                font-family: $fontThree;
                text-decoration: none;
                font-weight: 600;
                color: rgb(143, 123, 9);
              }
            }
          }
        }
      }
    }
  }
}

.navbar.active {
  height: 8vh;
  background-color: black;
}
//  NavBar responsvness
@media screen and (max-width: 1440px) {
  .navbar {
    .nav-Wrap {
      align-items: start;
      justify-content: flex-start;

      .nav-Left {
        width: 30%;
      }
    }
  }
}

//  NavBar responsvness
@media screen and (max-width: 850px) {
  .navbar {
    .nav-Wrap {
      align-items: center;
      justify-content: center;

      .nav-Left {
        display: none;
      }

      .nav-Right {
        width: 100%;

        .nav-Right-Wrap {
          justify-content: center;

          .nav-Right-Links {
            ul {
              display: flex;
              flex-direction: row;
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                padding: 0.3rem;

                a {
                  font-size: 0.8rem;

                  #nav-Icon {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Header
.header,
.header-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;

  .header-Wrap {
    height: 100%;
    width: 100%;

    .images-Wrap {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;
      z-index: -15;

      .images-Holder {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        transition: all 1000ms ease-in-out;
      }

      .header-Imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
      }
    }

    .header-Text-Button-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .header-Text-1 {
        font-family: $fontFour;
        font-size: 3rem;
        font-weight: 200;
        padding: 0;
        margin: 0;
        color: #c49b63;
      }

      .header-Text-2 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 4rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        width: 50%;
      }

      .header-Text-3 {
        font-family: $fontTwo;
        font-size: 1rem;
        font-weight: 500;
        width: 50%;
        color: white;
      }

      .header-Buttons-Wrap {
        width: 50%;
        height: 100px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;

        #header-Buttons {
          padding: 20px 25px;
        }

        .order-Now-Btn {
          background-color: #c49b63;
          font-family: $fontTwo;
          font-size: 1rem;
          font-weight: 500;
          border: none;
          color: #fff;
          transition: all 350ms ease-in-out;

          &:hover {
            cursor: pointer;
            border: solid #c49b63 1px;
            color: #c49b63;
            background-color: transparent;
          }
        }

        .view-More-Btn {
          background-color: transparent;
          font-family: $fontTwo;
          font-size: 1rem;
          font-weight: 500;
          color: #fff;
          border: solid white 1px;
          transition: all 350ms ease-in-out;

          &:hover {
            cursor: pointer;
            border: solid #c49b63 1px;
            color: white;
            background-color: #c49b63;
          }
        }
      }
    }

    .header-Slider-Buttons-Wrap {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      gap: 10px;

      #slider-Buttons {
        color: rgb(87, 87, 87);
        font-size: 2rem;
        transition: all 300ms ease-in-out;
        border-radius: 50%;
        cursor: pointer;
      }

      .slider-Active {
        color: black;
        background-color: white;
        font-size: 2rem;
        border-radius: 50%;
        padding: 1px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header,
  .header-Wrap {
    .header-Wrap {
      .header-Text-Button-Wrap {
        .header-Text-1 {
          font-size: 2.3rem;
        }

        .header-Text-2 {
          font-size: 1.8rem;
          width: 100%;
        }

        .header-Text-3 {
          font-size: 0.8rem;
          width: 80%;
        }

        .header-Buttons-Wrap {
          width: 90%;

          #header-Buttons {
            padding: 13px 20px;
          }

          .order-Now-Btn {
            font-size: 0.7rem;
          }

          .view-More-Btn {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
// haeder-Strip
.header-Strip {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 15vh;

  .header-Strip-Wrap {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

    .header-Strip-Card {
      display: flex;
      height: 50%;

      .header-Strip-Card-Left {
        width: 20%;

        #strip-Card-Icon {
          color: #c49b63;
          font-size: 1.4rem;
        }
      }

      .header-Strip-Card-Right {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: flex-start;

        .header-Strip-Card-Right-Text-1 {
          color: white;
          font-family: $fontThree;
          font-size: 1rem;
          font-weight: 600;
          padding: 0;
          margin: 0;
        }

        .header-Strip-Card-Right-Text-2 {
          color: rgb(139, 139, 139);
          font-family: $fontThree;
          font-size: 0.9rem;
          font-weight: 300;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
// header-Strip Responsvness
@media screen and (max-width: 1100px) {
  .header-Strip {
    .header-Strip-Wrap {
      width: 100%;
      height: 90%;

      .header-Strip-Card {
        display: flex;
        height: 50%;

        .header-Strip-Card-Left {
          width: 20%;

          #strip-Card-Icon {
            color: #c49b63;
            font-size: 1rem;
          }
        }

        .header-Strip-Card-Right {
          .header-Strip-Card-Right-Text-1 {
            font-size: 0.8rem;
          }

          .header-Strip-Card-Right-Text-2 {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-Strip {
    .header-Strip-Wrap {
      width: 80%;
      height: 80%;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .header-Strip-Card {
        display: flex;
        height: 10%;
        width: 90%;
        padding: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;

        .header-Strip-Card-Left {
          width: 20%;

          #strip-Card-Icon {
            color: #c49b63;
            font-size: 1.1rem;
          }
        }

        .header-Strip-Card-Right {
          width: 60%;
          text-align: center;
          align-items: center;

          .header-Strip-Card-Right-Text-1 {
            font-size: 0.7rem;
          }

          .header-Strip-Card-Right-Text-2 {
            display: none;
          }
        }
      }
    }
  }
}
// blog
.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #c49b63;

  .blog-Wrap {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .blog-Card {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      width: 350px;
      height: 100%;

      #blog-Card-Icon {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        font-size: 3rem;
        border: solid #2a2727ab 2px;
        color: transparent;
        -webkit-text-stroke: 0.2rem #2a2727;
      }

      .blog-Card-Text-1,
      .blog-Card-Text-2 {
        font-family: $fontThree;
        font-weight: 300;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #c49b63;

    .blog-Wrap {
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .blog-Card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 33%;
        gap: 5px;

        #blog-Card-Icon {
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50px;
          height: 50px;
          font-size: 1.5rem;
          border: solid #2a2727ab 1px;
          color: transparent;
          -webkit-text-stroke: 0.1rem #2a2727;
          padding: 0;
          margin: 0;
        }

        .blog-Card-Text-1,
        .blog-Card-Text-2 {
          font-family: $fontThree;
          font-weight: 300;
          padding: 0;
          margin: 0;
          width: 80%;
          font-size: 0.9rem;
        }
      }
    }
  }
}
// menu
.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("./assets/image8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
    z-index: 3;

    .menu-Left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: end;
      justify-content: center;

      .menu-Left-Wrap {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        text-align: end;
        align-items: end;
        justify-content: center;

        .menu-Left-Text-Wrap {
          .menu-Left-Text-1 {
            font-family: $fontFour;
            color: #c49b63;
            font-size: 3.5rem;
            font-weight: 300;
            padding: 0;
            margin: 0;
          }

          .menu-Left-Text-2 {
            font-family: $fontTwo;
            color: white;
            font-size: 3rem;
            font-weight: 400;
            line-height: 0.3;
            padding: 0;
            margin: 0;
          }

          .menu-Left-Text-3 {
            font-family: $fontTwo;
            color: #a7a5a5;
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.3;
          }

          .menu-Left-Button {
            height: 60px;
            width: 150px;
            font-family: $fontTwo;
            font-size: 0.8rem;
            font-weight: 400;
            background-color: transparent;
            color: #c49b63;
            border: solid #c49b63 1px;
            transition: all 250ms ease-in-out;

            &:hover {
              cursor: pointer;
              font-weight: 600;
              color: #1a1919;
              background-color: #c49b63;
            }
          }
        }
      }
    }

    .menu-Right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: start;
      align-items: start;
      justify-content: center;
      position: relative;
      z-index: 4;

      .menu-Right-Wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        position: relative;
        z-index: 4;

        #menu-Right-Imgs {
          margin: 1rem;
          height: 275px;
          width: 275px;
          object-fit: cover;
          position: relative;
          z-index: 5;
          transition: all 500ms ease-in-out;

          &:hover {
            cursor: pointer;
            overflow: hidden;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1545px) {
  .menu {
    .menu-Wrap {
      gap: 4rem;

      .menu-Left {
        width: 30%;

        .menu-Left-Wrap {
          width: 100%;

          .menu-Left-Text-Wrap {
            width: 100%;

            .menu-Left-Text-1 {
              font-size: 3.2rem;
            }

            .menu-Left-Text-2 {
              font-size: 2.9rem;
            }

            .menu-Left-Text-3 {
              font-size: 1rem;
            }

            .menu-Left-Button {
              font-size: 0.7rem;
            }
          }
        }
      }

      .menu-Right {
        width: 70%;

        .menu-Right-Wrap {
          margin: 0.5rem;

          #menu-Right-Imgs {
            margin: 0.5rem;
            height: 225px;
            width: 225px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .menu {
    .menu-Wrap {
      gap: 4rem;

      .menu-Left {
        width: 40%;

        .menu-Left-Wrap {
          width: 100%;

          .menu-Left-Text-Wrap {
            width: 100%;

            .menu-Left-Text-1 {
              font-size: 3.2rem;
            }

            .menu-Left-Text-2 {
              font-size: 2.5rem;
              width: 100%;
            }

            .menu-Left-Text-3 {
              width: 100%;
              font-size: 0.9rem;
            }

            .menu-Left-Button {
              font-size: 0.6rem;
            }
          }
        }
      }

      .menu-Right {
        width: 70%;

        .menu-Right-Wrap {
          margin: 0.4rem;

          #menu-Right-Imgs {
            margin: 0.5rem;
            height: 175px;
            width: 175px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .menu {
    .menu-Wrap {
      overflow: hidden;
      gap: 0;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 100%;

      .menu-Left {
        overflow: hidden;
        width: 70%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-Left-Wrap {
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 90%;
          height: 100%;

          .menu-Left-Text-Wrap {
            height: 100%;
            width: 100%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .menu-Left-Text-1 {
              font-size: 3.2rem;
            }

            .menu-Left-Text-2 {
              font-size: 2rem;
              width: 100%;
              line-height: 1;
            }

            .menu-Left-Text-3 {
              width: 100%;
              font-size: 0.9rem;
            }

            .menu-Left-Button {
              font-size: 0.6rem;
            }
          }
        }
      }

      .menu-Right {
        display: none;
        width: 70%;

        .menu-Right-Wrap {
          margin: 0.4rem;

          #menu-Right-Imgs {
            margin: 0.5rem;
            height: 175px;
            width: 175px;
          }
        }
      }
    }
  }
}
// about
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url("./assets/image7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .about-Wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .about-Cards-Wrap {
      width: 80%;
      height: 90%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;

      .about-Card {
        height: 250px;
        width: 150px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .about-Card-Icon-Wrap {
          background-color: transparent;
          position: relative;
          height: 75px;
          width: 75px;
          transition: all 150ms ease-in-out;
          cursor: pointer;

          #about-Card-Icon {
            top: 0;
            left: 0;
            position: absolute;
            font-size: 3rem;
            color: transparent;
            border: solid #c49b63 1px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
            -webkit-text-stroke: #c49b63 0.1rem;
            z-index: 3;
            width: 100%;
            height: 100%;
            transition: all 0ms ease-in-out;
          }

          &:hover {
            transform: rotate(530deg);
            z-index: 2;
            background-color: #c49b63;

            #about-Card-Icon {
              -webkit-text-stroke: #1a1919 0.1rem;
              transform: rotate(-530deg);
              border: none;
            }
          }
        }

        .about-Card-Text-1 {
          font-family: $fontTwo;
          font-size: 2.5rem;
          padding: 0;
          margin: 0;
          line-height: 2;
          font-weight: 400;
          color: #c49b63;
        }

        .about-Card-Text-2 {
          font-family: $fontTwo;
          font-size: 1.2rem;
          width: 120%;
          padding: 0;
          margin: 0;
          line-height: 1;
          font-weight: 400;
          color: #999;
        }
      }
    }
  }
}
