@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.navbar {
  height: 12vh;
  background-color: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  border: solid rgba(109, 108, 108, 0.541) 1px;
  border-left: none;
  border-top: none;
  border-right: none;
  z-index: 5;
  transition: all 500ms ease-in-out;
}

.navbar .nav-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar .nav-Wrap .nav-Left {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar .nav-Wrap .nav-Left .nav-Left-Wrap {
  width: 200px;
  height: 100px;
}

.navbar .nav-Wrap .nav-Left .nav-Left-Wrap .nav-Left-Text-Icon-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
}

.navbar .nav-Wrap .nav-Left .nav-Left-Wrap .nav-Left-Text-Icon-Wrap #nav-Icon {
  color: white;
  font-size: 3rem;
}

.navbar .nav-Wrap .nav-Left .nav-Left-Wrap .nav-Left-Text-Wrap {
  padding: 0;
  margin: 0;
}

.navbar .nav-Wrap .nav-Left .nav-Left-Wrap .nav-Left-Text-Wrap .nav-Left-Text-1,
.navbar .nav-Wrap .nav-Left .nav-Left-Wrap .nav-Left-Text-Wrap .nav-Left-Text-2 {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navbar .nav-Wrap .nav-Right {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li a #nav-Icon {
  font-size: 1.5rem;
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li a:hover {
  color: rgb(143, 123, 9);
}

.navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li .active {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: rgb(143, 123, 9);
}

.navbar.active {
  height: 8vh;
  background-color: black;
}

@media screen and (max-width: 1440px) {
  .navbar .nav-Wrap {
    align-items: start;
    justify-content: flex-start;
  }

  .navbar .nav-Wrap .nav-Left {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .navbar .nav-Wrap {
    align-items: center;
    justify-content: center;
  }

  .navbar .nav-Wrap .nav-Left {
    display: none;
  }

  .navbar .nav-Wrap .nav-Right {
    width: 100%;
  }

  .navbar .nav-Wrap .nav-Right .nav-Right-Wrap {
    justify-content: center;
  }

  .navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.3rem;
  }

  .navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li a {
    font-size: 0.8rem;
  }

  .navbar .nav-Wrap .nav-Right .nav-Right-Wrap .nav-Right-Links ul li a #nav-Icon {
    font-size: 1.5rem;
  }
}

.header,
.header-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
}

.header .header-Wrap,
.header-Wrap .header-Wrap {
  height: 100%;
  width: 100%;
}

.header .header-Wrap .images-Wrap,
.header-Wrap .header-Wrap .images-Wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: -15;
}

.header .header-Wrap .images-Wrap .images-Holder,
.header-Wrap .header-Wrap .images-Wrap .images-Holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  transition: all 1000ms ease-in-out;
}

.header .header-Wrap .images-Wrap .header-Imgs,
.header-Wrap .header-Wrap .images-Wrap .header-Imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}

.header .header-Wrap .header-Text-Button-Wrap,
.header-Wrap .header-Wrap .header-Text-Button-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Text-1,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-1 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
  color: #c49b63;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Text-2,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  width: 50%;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Text-3,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 50%;
  color: white;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap #header-Buttons,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap #header-Buttons {
  padding: 20px 25px;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn {
  background-color: #c49b63;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: #fff;
  transition: all 350ms ease-in-out;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn:hover,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn:hover {
  cursor: pointer;
  border: solid #c49b63 1px;
  color: #c49b63;
  background-color: transparent;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn {
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: solid white 1px;
  transition: all 350ms ease-in-out;
}

.header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn:hover,
.header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn:hover {
  cursor: pointer;
  border: solid #c49b63 1px;
  color: white;
  background-color: #c49b63;
}

.header .header-Wrap .header-Slider-Buttons-Wrap,
.header-Wrap .header-Wrap .header-Slider-Buttons-Wrap {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header .header-Wrap .header-Slider-Buttons-Wrap #slider-Buttons,
.header-Wrap .header-Wrap .header-Slider-Buttons-Wrap #slider-Buttons {
  color: rgb(87, 87, 87);
  font-size: 2rem;
  transition: all 300ms ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}

.header .header-Wrap .header-Slider-Buttons-Wrap .slider-Active,
.header-Wrap .header-Wrap .header-Slider-Buttons-Wrap .slider-Active {
  color: black;
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .header .header-Wrap .header-Text-Button-Wrap .header-Text-1,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-1 {
    font-size: 2.3rem;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Text-2,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-2 {
    font-size: 1.8rem;
    width: 100%;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Text-3,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Text-3 {
    font-size: 0.8rem;
    width: 80%;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap {
    width: 90%;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap #header-Buttons,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap #header-Buttons {
    padding: 13px 20px;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .order-Now-Btn {
    font-size: 0.7rem;
  }

  .header .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn,
  .header-Wrap .header-Wrap .header-Text-Button-Wrap .header-Buttons-Wrap .view-More-Btn {
    font-size: 0.7rem;
  }
}

.header-Strip {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.header-Strip .header-Strip-Wrap {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card {
  display: flex;
  height: 50%;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left {
  width: 20%;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left #strip-Card-Icon {
  color: #c49b63;
  font-size: 1.4rem;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: flex-start;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-2 {
  color: rgb(139, 139, 139);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .header-Strip .header-Strip-Wrap {
    width: 100%;
    height: 90%;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card {
    display: flex;
    height: 50%;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left {
    width: 20%;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left #strip-Card-Icon {
    color: #c49b63;
    font-size: 1rem;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-1 {
    font-size: 0.8rem;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-2 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .header-Strip .header-Strip-Wrap {
    width: 80%;
    height: 80%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card {
    display: flex;
    height: 10%;
    width: 90%;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left {
    width: 20%;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Left #strip-Card-Icon {
    color: #c49b63;
    font-size: 1.1rem;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right {
    width: 60%;
    text-align: center;
    align-items: center;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-1 {
    font-size: 0.7rem;
  }

  .header-Strip .header-Strip-Wrap .header-Strip-Card .header-Strip-Card-Right .header-Strip-Card-Right-Text-2 {
    display: none;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #c49b63;
}

.blog .blog-Wrap {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.blog .blog-Wrap .blog-Card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  height: 100%;
}

.blog .blog-Wrap .blog-Card #blog-Card-Icon {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  font-size: 3rem;
  border: solid rgba(42, 39, 39, 0.6705882353) 2px;
  color: transparent;
  -webkit-text-stroke: 0.2rem #2a2727;
}

.blog .blog-Wrap .blog-Card .blog-Card-Text-1,
.blog .blog-Wrap .blog-Card .blog-Card-Text-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #c49b63;
  }

  .blog .blog-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .blog .blog-Wrap .blog-Card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 33%;
    gap: 5px;
  }

  .blog .blog-Wrap .blog-Card #blog-Card-Icon {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: solid rgba(42, 39, 39, 0.6705882353) 1px;
    color: transparent;
    -webkit-text-stroke: 0.1rem #2a2727;
    padding: 0;
    margin: 0;
  }

  .blog .blog-Wrap .blog-Card .blog-Card-Text-1,
  .blog .blog-Wrap .blog-Card .blog-Card-Text-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: 80%;
    font-size: 0.9rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("./assets/image8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.menu::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  top: 0;
  left: 0;
  z-index: 2;
}

.menu .menu-Wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative;
  z-index: 3;
}

.menu .menu-Wrap .menu-Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
  justify-content: center;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
  justify-content: center;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-1 {
  font-family: "Great Vibes", cursive;
  color: #c49b63;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-2 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.3;
  padding: 0;
  margin: 0;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-3 {
  font-family: "Josefin Sans", sans-serif;
  color: #a7a5a5;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.3;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Button {
  height: 60px;
  width: 150px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: transparent;
  color: #c49b63;
  border: solid #c49b63 1px;
  transition: all 250ms ease-in-out;
}

.menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Button:hover {
  cursor: pointer;
  font-weight: 600;
  color: #1a1919;
  background-color: #c49b63;
}

.menu .menu-Wrap .menu-Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.menu .menu-Wrap .menu-Right .menu-Right-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
  z-index: 4;
}

.menu .menu-Wrap .menu-Right .menu-Right-Wrap #menu-Right-Imgs {
  margin: 1rem;
  height: 275px;
  width: 275px;
  object-fit: cover;
  position: relative;
  z-index: 5;
  transition: all 500ms ease-in-out;
}

.menu .menu-Wrap .menu-Right .menu-Right-Wrap #menu-Right-Imgs:hover {
  cursor: pointer;
  overflow: hidden;
  transform: scale(1.1);
}

@media screen and (max-width: 1545px) {
  .menu .menu-Wrap {
    gap: 4rem;
  }

  .menu .menu-Wrap .menu-Left {
    width: 30%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap {
    width: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap {
    width: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-1 {
    font-size: 3.2rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-2 {
    font-size: 2.9rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-3 {
    font-size: 1rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Button {
    font-size: 0.7rem;
  }

  .menu .menu-Wrap .menu-Right {
    width: 70%;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap {
    margin: 0.5rem;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap #menu-Right-Imgs {
    margin: 0.5rem;
    height: 225px;
    width: 225px;
  }
}

@media screen and (max-width: 1040px) {
  .menu .menu-Wrap {
    gap: 4rem;
  }

  .menu .menu-Wrap .menu-Left {
    width: 40%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap {
    width: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap {
    width: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-1 {
    font-size: 3.2rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-2 {
    font-size: 2.5rem;
    width: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-3 {
    width: 100%;
    font-size: 0.9rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Button {
    font-size: 0.6rem;
  }

  .menu .menu-Wrap .menu-Right {
    width: 70%;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap {
    margin: 0.4rem;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap #menu-Right-Imgs {
    margin: 0.5rem;
    height: 175px;
    width: 175px;
  }
}

@media screen and (max-width: 870px) {
  .menu .menu-Wrap {
    overflow: hidden;
    gap: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
  }

  .menu .menu-Wrap .menu-Left {
    overflow: hidden;
    width: 70%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-1 {
    font-size: 3.2rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-2 {
    font-size: 2rem;
    width: 100%;
    line-height: 1;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Text-3 {
    width: 100%;
    font-size: 0.9rem;
  }

  .menu .menu-Wrap .menu-Left .menu-Left-Wrap .menu-Left-Text-Wrap .menu-Left-Button {
    font-size: 0.6rem;
  }

  .menu .menu-Wrap .menu-Right {
    display: none;
    width: 70%;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap {
    margin: 0.4rem;
  }

  .menu .menu-Wrap .menu-Right .menu-Right-Wrap #menu-Right-Imgs {
    margin: 0.5rem;
    height: 175px;
    width: 175px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url("./assets/image7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about .about-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about .about-Wrap .about-Cards-Wrap {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.about .about-Wrap .about-Cards-Wrap .about-Card {
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap {
  background-color: transparent;
  position: relative;
  height: 75px;
  width: 75px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap #about-Card-Icon {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 3rem;
  color: transparent;
  border: solid #c49b63 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-text-stroke: #c49b63 0.1rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: all 0ms ease-in-out;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap:hover {
  transform: rotate(530deg);
  z-index: 2;
  background-color: #c49b63;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap:hover #about-Card-Icon {
  -webkit-text-stroke: #1a1919 0.1rem;
  transform: rotate(-530deg);
  border: none;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  line-height: 2;
  font-weight: 400;
  color: #c49b63;
}

.about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  width: 120%;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  color: #999;
}

@media screen and (max-width: 1000px) {
  .about .about-Wrap .about-Cards-Wrap {
    width: 90%;
    height: 90%;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card {
    height: 230px;
    width: 130px;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap {
    height: 70px;
    width: 70px;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap #about-Card-Icon {
    font-size: 2.8rem;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-1 {
    font-size: 2rem;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 90vh;
  }

  .about .about-Wrap .about-Cards-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card {
    height: 230px;
    width: 130px;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap {
    height: 70px;
    width: 70px;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Icon-Wrap #about-Card-Icon {
    font-size: 2.2rem;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-1 {
    font-size: 1.5rem;
  }

  .about .about-Wrap .about-Cards-Wrap .about-Card .about-Card-Text-2 {
    font-size: 0.8rem;
  }
}

.customers {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-image: url("./assets/image8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.customers::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  top: 0;
  left: 0;
  z-index: 2;
}

.customers .customers-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}

.customers .customers-Wrap .customers-Top {
  width: 100%;
  height: 40%;
  position: relative;
  z-index: 4;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.customers .customers-Wrap .customers-Top .customers-Top-Wrap {
  height: 100%;
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Great Vibes", cursive;
  color: #c49b63;
  padding: 0;
  margin: 0;
  line-height: 1;
  position: relative;
  z-index: 5;
}

.customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 0.5;
  margin-bottom: 3rem;
}

.customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-3 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: #999;
  width: 50%;
}

.customers .customers-Wrap .customers-Bottom {
  width: 100%;
  height: 70%;
  position: relative;
  z-index: 4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: end;
  justify-content: flex-start;
  flex-direction: row;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card {
  width: 20%;
  height: 65%;
  background-color: #c49b63;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: flex-end;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Card-Text-1 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
  height: 50%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap {
  height: 100px;
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Img {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  object-fit: cover;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Name {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 0;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-2 {
  height: 75%;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-4 {
  height: 40%;
}

.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card.card-Active {
  background-color: #b48d57;
}

@media screen and (max-width: 1200px) {
  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-1 {
    font-size: 2.5rem;
  }

  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-2 {
    font-size: 2.5rem;
  }

  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-3 {
    font-size: 0.9rem;
  }

  .customers .customers-Wrap .customers-Bottom {
    height: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap {
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card {
    width: 100%;
    height: 17%;
    background-color: #c49b63;
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    align-items: center;
    justify-content: center;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Card-Text-1 {
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    margin: 0;
    height: 100%;
    width: 80%;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: start;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap {
    height: 100%;
    width: 15%;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Img {
    height: 45px;
    width: 45px;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Name {
    font-size: 0.6rem;
    font-weight: 500;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-2,
  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-4 {
    height: 20%;
  }
}

@media screen and (max-width: 900px) {
  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-1 {
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
  }

  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-2 {
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }

  .customers .customers-Wrap .customers-Top .customers-Top-Wrap .customers-Top-Text-3 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }

  .customers .customers-Wrap .customers-Bottom {
    height: 70%;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card {
    justify-content: space-between;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Card-Text-1 {
    font-size: 0.7rem;
    font-weight: 300;
    width: 70%;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap {
    gap: 5px;
    width: 30%;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Img {
    height: 40px;
    width: 40px;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customer-Card-Img-Name-Wrap .customer-Profile-Name {
    font-size: 0.5rem;
    font-weight: 400;
  }

  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-2,
  .customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap #customer-Card-4 {
    height: 20%;
  }
}

.contact {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact .contact-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact .contact-Wrap .contact-Left {
  width: 45%;
  height: 100%;
}

.contact .contact-Wrap .contact-Left .contact-Left-Wrap {
  height: 100%;
  width: 100%;
}

.contact .contact-Wrap .contact-Left .contact-Left-Wrap .contact-Left-Img {
  height: 100%;
  width: 100%;
}

.contact .contact-Wrap .contact-Right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Text-1 {
  font-size: 2.5rem;
  font-weight: 400;
  width: 80%;
  text-align: start;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: start;
  justify-content: start;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap #text-Inputs-Id {
  width: 450px;
  margin: 5px;
  background-color: transparent;
  border: solid #2a2727 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 45px;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: 0;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap #text-Inputs-Id::placeholder {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap #text-Inputs-Id:active {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap #text-Inputs-Id:valid {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.contact .contact-Wrap .contact-Right .contact-Right-Wrap .contact-Right-Form-Wrap .input-Appointment-Btn {
  height: 20px;
  width: 400px;
}
