@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Josefin Sans", sans-serif;
$fontThree: "Poppins", sans-serif;
$fontFour: "Great Vibes", cursive;

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
// navbar
.navbar {
  height: 12vh;
  background-color: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  border: solid rgba(109, 108, 108, 0.541) 1px;
  border-left: none;
  border-top: none;
  border-right: none;
  z-index: 5;

  .nav-Wrap {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .nav-Left {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .nav-Left-Wrap {
        width: 200px;
        height: 100px;

        .nav-Left-Text-Icon-Wrap {
          height: 100%;
          width: 100%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          color: white;

          #nav-Icon {
            color: white;
            font-size: 3rem;
          }
        }

        .nav-Left-Text-Wrap {
          padding: 0;
          margin: 0;

          .nav-Left-Text-1,
          .nav-Left-Text-2 {
            padding: 0;
            margin: 0;
            font-family: $fontThree;
            font-weight: 500;
          }
        }
      }
    }

    .nav-Right {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .nav-Right-Wrap {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        .nav-Right-Links {
          ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              align-items: center;
              padding: 1rem;

              a {
                font-family: $fontThree;
                text-decoration: none;
                color: white;
                font-weight: 500;
                transition: all 250ms ease-in-out;

                #nav-Icon {
                  font-size: 1.5rem;
                }

                &:hover {
                  color: rgb(143, 123, 9);
                }
              }

              .active {
                font-family: $fontThree;
                text-decoration: none;
                font-weight: 600;
                color: rgb(143, 123, 9);
              }
            }
          }
        }
      }
    }
  }
}
//  NavBar responsvness
@media screen and (max-width: 1440px) {
  .navbar {
    .nav-Wrap {
      align-items: start;
      justify-content: flex-start;

      .nav-Left {
        width: 30%;
      }
    }
  }
}

//  NavBar responsvness
@media screen and (max-width: 850px) {
  .navbar {
    .nav-Wrap {
      align-items: center;
      justify-content: center;

      .nav-Left {
        display: none;
      }

      .nav-Right {
        width: 100%;

        .nav-Right-Wrap {
          justify-content: center;

          .nav-Right-Links {
            ul {
              display: flex;
              flex-direction: row;
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                padding: 0.3rem;

                a {
                  font-size: 0.8rem;

                  #nav-Icon {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Header
.header,
.header-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;

  .header-Wrap {
    height: 100%;
    width: 100%;

    .images-Wrap {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;
      z-index: -15;

      .images-Holder {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        transition: all 1000ms ease-in-out;
      }

      .header-Imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
      }
    }

    .header-Text-Button-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .header-Text-1 {
        font-family: $fontFour;
        font-size: 3rem;
        font-weight: 200;
        padding: 0;
        margin: 0;
        color: #c49b63;
      }

      .header-Text-2 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 4rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        width: 50%;
      }

      .header-Text-3 {
        font-family: $fontTwo;
        font-size: 1rem;
        font-weight: 500;
        width: 50%;
        color: white;
      }

      .header-Buttons-Wrap {
        width: 50%;
        height: 100px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;

        #header-Buttons {
          padding: 20px 25px;
        }

        .order-Now-Btn {
          background-color: #c49b63;
          font-family: $fontTwo;
          font-size: 1rem;
          font-weight: 500;
          border: none;
          color: #fff;
          transition: all 350ms ease-in-out;

          &:hover {
            cursor: pointer;
            border: solid #c49b63 1px;
            color: #c49b63;
            background-color: transparent;
          }
        }

        .view-More-Btn {
          background-color: transparent;
          font-family: $fontTwo;
          font-size: 1rem;
          font-weight: 500;
          color: #fff;
          border: solid white 1px;
          transition: all 350ms ease-in-out;

          &:hover {
            cursor: pointer;
            border: solid #c49b63 1px;
            color: white;
            background-color: #c49b63;
          }
        }
      }
    }

    .header-Slider-Buttons-Wrap {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      gap: 10px;

      #slider-Buttons {
        color: rgb(87, 87, 87);
        font-size: 2rem;
        transition: all 300ms ease-in-out;
        border-radius: 50%;
        cursor: pointer;
      }

      .slider-Active {
        color: black;
        background-color: white;
        font-size: 2rem;
        border-radius: 50%;
        padding: 1px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header,
  .header-Wrap {
    .header-Wrap {
      .header-Text-Button-Wrap {
        .header-Text-1 {
          font-size: 2.3rem;
        }

        .header-Text-2 {
          font-size: 1.8rem;
          width: 100%;
        }

        .header-Text-3 {
          font-size: 0.8rem;
          width: 80%;
        }

        .header-Buttons-Wrap {
          width: 90%;

          #header-Buttons {
            padding: 13px 20px;
          }

          .order-Now-Btn {
            font-size: 0.7rem;
          }

          .view-More-Btn {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
// haeder-Strip
.haeder-Strip {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
